---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Hero from '../components/Hero.astro';
import Symptoms from '../components/Symptoms.astro';
import Profile from '../components/Profile.astro';
import Services from '../components/Services.astro';
import Process from '../components/Process.astro';
import FAQ from '../components/FAQ.astro';
import Location from '../components/Location.astro';
import CTA from '../components/CTA.astro';
import Footer from '../components/Footer.astro';
import WhatsAppFloat from '../components/WhatsAppFloat.astro';
import MobileContactBar from '../components/MobileContactBar.astro';
---

<Layout>
  <Header />
  <main>
    <Hero />
    <Symptoms />
    <Profile />
    <Services />
    <Process />
    <FAQ />
    <Location />
    <CTA />
  </main>
  <Footer />
  <WhatsAppFloat />
  <MobileContactBar />
</Layout>
